Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.


[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
lst = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
lst.sort(key=lambda tup: tup[1])

In [3]:
print(lst)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
num_lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
square = lambda x : x**2

In [6]:
list(map(square,num_lst))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [7]:
str_conv = lambda x : str(x)

In [8]:
tuple(map(str_conv,num_lst))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [9]:
prod = lambda x,y : x*y

In [10]:
lst = []
for i in range(1,26):
  lst.append(i)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [11]:
from functools import reduce

reduce(prod,lst)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [12]:
lst_1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [13]:
tuple(filter(lambda x : x if x%2 == 0 and x%3 == 0 else False,lst_1))

(6, 60, 90, 120)

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

['python', 'php', 'aba', 'radar', 'level']

In [14]:
lst = ['python', 'php', 'aba', 'radar', 'level']

In [15]:
palindrome = lambda x : x if x  == x[::-1] else None

In [16]:
list(filter(palindrome,lst))

['php', 'aba', 'radar', 'level']