**1. Write a program to accept percentage from the user and display the grade according to the following 
criteria:** 

| Marks | Grade |
|---|---|
|>90 | A |
| >80 and <=90 | B |
| >=60 and <=80 | C |
| below 60 | D |

In [8]:
percent = int(input("Enter your percentage : "))

if percent>90:
    print("Grade A")
elif percent>80 and percent<=90:
    print("Grade B")
elif percent>=60 and percent<=80:
    print("Grade C")
elif percent<60 and percent>=35:
    print("Grade D")
elif percent<0 and percent>100:
    print("Invalid Input")
else:
    print("Fail")

Enter your percentage : 85
Grade B

**2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:**

| Tax | Cost Price(in Rs) |
| --- | --- |  
| 15% | >100000 |
| 10% | 50000 and <= 100000 |
| 5% | <= 50000 |

In [10]:
cost_price = int(input("Enter price of the bike : "))

if cost_price>100000:
    print(f"You have tax amount of Rs.{cost_price*0.15}")
elif cost_price>50000 and cost_price<100000:
    print(f"You have tax amount of Rs.{cost_price*0.10}")
else:
    print(f"You have tax amount of Rs.{cost_price*0.05}")

Enter price of the bike : 101100
You have tax amount of Rs.15165.0

**3. Accept any city from the user and display monuments of that city.** 

| City | Monument |
| --- | --- |
| Delhi |Red Fort|
|Agra|Taj Mahal|
|Jaipur|Jal Mahal|

In [11]:
monuments = {"Delhi":"Red Fort",
            "Agra":"Taj Mahal",
            "Jaipur":"Jal Mahal"}

In [15]:
for keymonuments.items()

dict_items([('Delhi', 'Red Fort'), ('Agra', 'Taj Mahal'), ('Jaipur', 'Jal Mahal')])

In [27]:
city = input("Enter a city name : ")

for key,value in monuments.items():
    if city == key:
        print (value)

Enter a city name : Jaipur
Jal Mahal

**4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.**

In [26]:
count = 0
num = 1
while num<=10:
    if num%3==0:
        count +=1
    num+=1
print(count)

3

**5. Why and When to Use while Loop in Python give a detailed description with example**

With the while loop we can execute a set of statements as long as a condition is true.

In [31]:
i=1
while i<11:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

**6. Use nested while loop to print 3 different pattern.**

In [44]:
n = 5

for i in range(n):
    for j in range(n):
        print("*",end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [45]:
n = 5

for i in range(n):
    for j in range(0,i+1):
        print("*",end=" ")    
    print()

*
* *
* * *
* * * *
* * * * *

In [46]:
n=5

for i in range(n):
    for j in range(i,n):
        print("*",end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [47]:
n = 5

for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
        
    for j in range(0,i+1):
        print("#",end=" ")
    
    print()

          #
        # #
      # # #
    # # # #
  # # # # #

In [50]:
n = 5

for i in range(n):
    for j in range(i,n):
        print(" ",end = " ")
        
    for j in range(0,i):
        print("#",end=" ")
    
    for j in range(0,i+1):
        print("#",end=" ")
         
    print()

          #
        # # #
      # # # # #
    # # # # # # #
  # # # # # # # # #

In [55]:
n = 5

for i in range(n):
    for j in range(0,i+1):
        print(" ",end = " ")
        
    for j in range(i,n-1):
        print("#",end=" ")
    
    for j in range(i,n):
        print("#",end=" ")
         
    print()

  # # # # # # # # #
    # # # # # # #
      # # # # #
        # # #
          #

In [56]:
for i in range(n):
    for j in range(i,n):
        print(" ",end = " ")
        
    for j in range(0,i):
        print("#",end=" ")
    
    for j in range(0,i+1):
        print("#",end=" ")
         
    print()
for i in range(n):
    for j in range(0,i+1):
        print(" ",end = " ")
        
    for j in range(i,n-1):
        print("#",end=" ")
    
    for j in range(i,n):
        print("#",end=" ")
         
    print()

          #
        # # #
      # # # # #
    # # # # # # #
  # # # # # # # # #
  # # # # # # # # #
    # # # # # # #
      # # # # #
        # # #
          #

**7. Reverse a while loop to display numbers from 10 to 1.**

In [38]:
num = 10
while num>0:
    print(num,end=" ")
    num-=1

10 9 8 7 6 5 4 3 2 1

**8. Reverse a for loop to display numbers from 10 to 1**

In [42]:
for i in range(10,0,-1):
    print(i,end= " ")

10 9 8 7 6 5 4 3 2 1